@using DataAccess.CustomModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "patient_newrequest";
}

@model PatientInfoModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/patient_request.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



    <title>Create ME Request</title>
</head>

<body>
    <button type="button" class="btn shadow border-info ms-2" hidden
            style="border-radius: 10px; border-color: aqua" id="colorButton">
        <i id="moon" class="bi bi-moon text-info fs-5"></i>
        <i id="sun" class="bi bi-sun text-info fs-5 d-none"></i>
    </button>
    <div class="d-flex flex-column justify-content-between min-vh-100">


        <div class="container  d-flex justify-content-between my-4">
            <h3>Submit Information</h3>
            <button onclick="location.href='@Url.Action("PatientDashboard", "Patient")'" id="back-btn">&lt; Back</button>
        </div>


        <form method="post" enctype="multipart/form-data" class="bg-white dark-mode1 container mb-5 p-4" id="main-cont">

            <div class="row">
                <h5 class="col-12">Patient Information</h5>
                <div class="col-12 mb-3">
                    <div class="form-floating">
                        <textarea asp-for="symptoms" class="form-control dark-mode1" placeholder="Leave a comment here" id="floatingTextarea2"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Enter Brief Details Of Symptoms (Optional)</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="firstName" name="@Model.firstName" type="text" class="form-control dark-mode1" id="floatingInput" placeholder="First Name">
                        <label for="floatingInput">First Name</label>
                        <span asp-validation-for="firstName" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="lastName" name="@Model.lastName" type="text" class="form-control dark-mode1" id="floatingInput" placeholder="Last Name">
                        <label for="floatingInput">Last Name</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="dob" type="date" class="form-control dark-mode1" max="@DateTime.Now.ToString("yyyy-MM-dd")" id="floatingInput" placeholder="Date Of Birth">
                        <label for="floatingInput">Date Of Birth</label>
                        <span asp-validation-for="dob" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5>Patient Contact Information</h5>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="email" name="@Model.email" type="email" value="@Model.email" class="form-control dark-mode1" id="email" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="phoneNo" type="number" class="form-control dark-mode1 p-3 ps-5" id="phone1" >
                        <span asp-validation-for="phoneNo" class="text-danger"></span>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <h5>Patient Location</h5>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="street" type="text" class="form-control dark-mode1" id="floatingInputStreet" placeholder="Street">
                        <label for="floatingInput">Street</label>
                        <span asp-validation-for="street" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="city" type="text" class="form-control dark-mode1" id="floatingInputCity" placeholder="City">
                        <label for="floatingInput">City</label>
                        <span asp-validation-for="city" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="state" type="text" class="form-control dark-mode1" id="floatingInputState" placeholder="State">
                        <label for="floatingInput">State</label>
                        <span asp-validation-for="state" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="zipCode" type="text" class="form-control dark-mode1" id="floatingInputZipcode" placeholder="Zip">
                        <label for="floatingInput">Zip Code</label>
                        <span asp-validation-for="zipCode" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input asp-for="roomNo" type="text" class="form-control dark-mode1" id="floatingInput" placeholder="room">
                        <label for="floatingInput">Room # / Suite (Optional)</label>
                    </div>
                </div>
                <div class="form-floating mb-3 col-6 ">
                    <button type="button" class="btn btn-outline-primary" onclick="createReqMap()" style="height:3.3rem ; width:6rem"> <i class="bi bi-geo-alt"></i> Map</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h5>Relation</h5>
                </div>
                <div class="col-6">
                    <div class="input-div form-floating mb-3">
                        <input type="text" class="form-control dark-mode1" id="floatingInput" placeholder="">
                        <label for="floatingInput">Relation</label>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <h5>(Optional) Upload Photo Or Document</h5>
                </div>
                <div class="col-12 mb-4">
                    <input asp-for="file" class="form-control dark-mode1 form-control-lg " id="formFileLg" type="file" multiple>
                </div>
                <div class="d-flex justify-content-end gap-2">

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-outline-primary">Cancel</button>

                </div>

            </div>

        </form>

    </div>

    <partial name="_footer" />

    <!-- script  -->


    <script>
        const phoneInputField = document.getElementById("phone1");

        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });


        function createReqMap() {
            var street = $("#floatingInputStreet").val();
            var city = $("#floatingInputCity").val();
            var state = $("#floatingInputState").val();
            var zipcode = $("#floatingInputZipcode").val();

            var url = "https://www.google.com/maps/search/?api=1&query=" + street + city + state + zipcode;

            window.open(url, '_blank');
        }
    </script>
</body>

</html>