@using DataAccess.CustomModels;
@model ChatViewModel;

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="color:black!important">
    <section style="background-color: #eee;height:100%;">
        <div style="height:100%;">

            <div class="d-flex justify-content-center" style="height:100%;width:100%;">
                <div class="col-12">

                    <div class="card" id="chat1" style="border-radius: 15px;height:100%;">
                        <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0">
                            <p class="mb-0 fw-bold">@Model.RecieverName</p>
                            <button class="fas fa-times btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="card-body" id="cardBodyScroll" style="overflow:scroll;">
                            @foreach (var item in Model.Chats)
                            {
                                @if (item.ChatBoxClass == "Sender")
                                {
                                    <div class="d-flex flex-row justify-content-end mb-4">
                                        <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                                            <p class="small mb-0" style="font-size:large;">@item.Message</p>
                                            <div class="chatDate" style="font-size:12px;text-align:end;">@item.ChatDate</div>
                                        </div>
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp" alt="avatar 1"
                                             style="width: 45px; height: 100%;">
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex flex-row justify-content-start mb-4">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="avatar 1"
                                             style="width: 45px; height: 100%;">
                                        <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                            <p class="small mb-0" style="font-size:large;">@item.Message</p>
                                            <div class="chatDate" style="font-size:12px;">@item.ChatDate</div>
                                        </div>
                                    </div>
                                }
                            }
                            <form id="chatFormMain">
                                <div class="form-outline mb-3" style="position: fixed;width: -webkit-fill-available;bottom: 0;">
                                    <input type="text" asp-for="Message" style="width:84%;height:35px;" id="Message" placeholder="Send Message" />
                                    <button type="button" style="background-color: #0d6efd;border: none;border-radius: 5px;height:35px;width:35px;" placeholder="Message" class="chatInput" id="chatInputSubmit">
                                        <i class="bi bi-send" style="color:white;"></i>
                                    </button>
                                </div>
                                <input type="hidden" asp-for="RequestId" id="RequestID" />
                                <input type="hidden" asp-for="ProviderId" id="ProviderID" />
                                <input type="hidden" asp-for="AdminId" id="AdminID" />
                                <input type="hidden" asp-for="RoleId" id="RoleID" />
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

</div>

<script>

    document.getElementById("cardBodyScroll").scrollTop = document.getElementById("cardBodyScroll").scrollHeight;

    // Get the input field
    var input = document.getElementById("Message");

    // Execute a function when the user presses a key on the keyboard
    input.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("chatInputSubmit").click();
        }
    });

    //Chat Function

    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();


    connection.start().then(function () {

    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("chatInputSubmit").addEventListener("click", function (event) {

        var message = document.getElementById("Message").value;
        var RequestID = $('#RequestID').val();
        var ProviderID = $('#ProviderID').val();
        var AdminID = $('#AdminID').val();
        var RoleID = $('#RoleID').val();

        connection.invoke("SendMessage", message, RequestID, ProviderID, AdminID, RoleID).catch(function (err) {
            return console.error(err.toString());
        });

        event.preventDefault();

    });

    connection.on("ReceiveMessage", function (message) {

        var RequestID = $('#RequestID').val();
        var ProviderID = $('#ProviderID').val();
        var AdminID = $('#AdminID').val();

        event.preventDefault();
        ChatWith(RequestID, ProviderID, AdminID);
        event.preventDefault();

    });

        // if (user == "admin") {
        //     var encodedMsg = message;
        //     var messageDiv = document.createElement("div");
        //     var innerDiv = document.createElement("div");
        //     var pTag = document.createElement("p");
        //     var img = document.createElement("img");
        //     var span = document.createElement("span");

        //     messageDiv.className = "d-flex flex-row justify-content-end mb-4";
        //     messageDiv.style.borderRadius = "15px";
        //     messageDiv.style.backgroundColor = "#fbfbfb";
        //     messageDiv.style.position = "relative";

        //     innerDiv.className = "p-3 me-3";
        //     innerDiv.style.borderRadius = "15px";

        //     pTag.className = "small mb-0";
        //     pTag.textContent = encodedMsg;
        //     pTag.style.fontSize = "18px";
        //     pTag.style.color = "black";

        //     img.src = "https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp";
        //     img.alt = "avatar 1";
        //     img.style.width = "45px";
        //     img.style.height = "100%";

        //     span.className = "small text-muted chatTime";
        //     span.textContent = new Date().toLocaleTimeString();

        //     messageDiv.appendChild(innerDiv);
        //     messageDiv.appendChild(img);
        //     innerDiv.appendChild(pTag);
        //     messageDiv.appendChild(span);
        //     document.getElementById("discussionTwo").appendChild(messageDiv);
        //     document.getElementById("offCanvasCardBody").scrollTop = document.getElementById("offCanvasCardBody").scrollHeight;
        // } else if (user == "user") {
        //     var encodedMsg = message;
        //     var messageDiv = document.createElement("div");
        //     var innerDiv = document.createElement("div");
        //     var pTag = document.createElement("p");
        //     var img = document.createElement("img");
        //     var span = document.createElement("span");

        //     messageDiv.className = "d-flex flex-row justify-content-start mb-4";
        //     messageDiv.style.borderRadius = "15px";
        //     messageDiv.style.backgroundColor = "rgba(57, 192, 237,.2)";
        //     messageDiv.style.position = "relative";

        //     innerDiv.className = "p-3 ms-3";

        //     pTag.className = "small mb-0";
        //     pTag.textContent = encodedMsg;
        //     pTag.style.fontSize = "18px";
        //     pTag.style.color = "black";

        //     img.src = "https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp";
        //     img.alt = "avatar 1";
        //     img.style.width = "45px";
        //     img.style.height = "100%";

        //     span.className = "small text-muted chatTimeTwo";
        //     span.textContent = new Date().toLocaleTimeString();

        //     messageDiv.appendChild(img);
        //     messageDiv.appendChild(innerDiv);
        //     innerDiv.appendChild(pTag);
        //     messageDiv.appendChild(span);
        //     document.getElementById("discussionTwo").appendChild(messageDiv);
        //     document.getElementById("offCanvasCardBody").scrollTop = document.getElementById("offCanvasCardBody").scrollHeight;
        // }

</script>